.loginOuter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #4e54c8, #8f94fb);

  .loginContainer {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 40px;
    width: 400px;
    max-width: 400px;
    margin: 0 auto;

    @media (max-width: 476px) {
      width: auto;
      padding: 40px 30px;
      max-width: 350px;
    }

    .site_logo {
      margin: auto;
      width: 250px !important;
      height: 100% !important;
      margin-bottom: 20px;
    }

    .heading {
      text-align: center;
      font-size: 40px;
      font-weight: bold;
    }

    .startIcon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
    }
  }
}
