@import "../../styles/config.scss";

.commonButton {
  padding: 10px 20px;
  box-shadow: none;
  display: inline-block;

  &.passButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    padding: 0;
    color: #666;
    &:hover {
      color: $primary;
    }
  }
}

.whiteBtn {
  background-color: $white;
  border-radius: 30px;
  border: 0;
  padding: 10px;
  color: $black;
  font-size: 12px;
  font-weight: $f_semibold;
  display: flex;
  gap: 8px;
  border: 1px solid $white;
  align-items: center;
  &:hover {
    border: 1px solid $black;
    background-color: $white !important;
    color: $black !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  &:active {
    background-color: $white !important;
    color: $black !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #24c6dc 0%,
    #514a9d 51%,
    #24c6dc 100%
  );
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  margin-top: 20px;
  border: 0;
  font-weight: $f_semibold;
  font-size: 20px;
  border-radius: 50px;
  width: 100%;
  box-shadow: 0 0 20px #eee;
  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
}

.iconBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  border: 0;
}

.tableIconBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 10px;
  min-width: 40px;
  height: 40px;
  @media (max-width: 476px) {
    min-width: 35px;
    height: 35px;
  }
}

.btn-type1 {
  padding: 8px 20px !important;
  text-align: center;
  transition: 0.5s;
  border-radius: px !important;
  border: 0;
  font-weight: $f_semibold;
  @media (max-width: 476px) {
    font-size: 14px;
    padding: 7px 20px !important;
  }
}

.chatmsgBtn {
  border: 0;
  background-color: $white;
  border-radius: 50px;
  padding: 12px 20px;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  color: $font-color;
  transition: all 0.1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  &:hover,
  &:active {
    color: $white !important;
    background-color: $orange !important;
    transform: scaleX(1.02);
  }

  @media (max-width: 476px) {
    padding: 8px 13px;
  }
}

.draftBtn {
  min-height: 75px;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: $white;
  border: 2px solid $border-dark;
  border-radius: 10px;
  @media (max-width:768px) {
    min-height: auto;
  }
  &:hover {
    border: 2px solid $border-dark;
    background-color: $white;
  }
  &:active {
    border: 2px solid $border-dark;
    background-color: $white !important;
  }
}

.replyBtn {
  background-color: $orange;
  color: $white;
  font-size: 13px;
  font-weight: $f_medium;
  height: 30px;
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
  &:hover{
    background-color: #424242;
  }
  &:active{
    background-color: #424242 !important;
  }
}

.sendBtn {
  background-color: #424242;
  color: $white;
  font-size: 12px;
  font-weight: $f_medium;
  height: 30px;
  border: 0;
  border-radius: 30px;
  padding: 5px 15px;
  &:hover{
    background-color: $orange;
  }
  &:active{
    background-color: $orange !important;
  }
}
