
$primary:#5359cc;
$white:#fff;
$black : #000;

$font-color:#313132;
$font-light:#666;
$border-color: #d9d9d9;

$border-radius: 10px;


// font weight
$f_normal: normal;
$f_light:300;
$f_medium:500;
$f_semibold:600;
$f_bold:bold;